<div class="wrap" id="portfolio-entry">
  <article class="clearfix">
    <header class="clean">
      <h1>
        Brink
      </h1>
      <div class="callout">
        <a href="http://brinkthegame.com">
          visit website
        </a>
      </div>
      <div class="section-header">
        <p>
          <span>
            Xbox 360/PS3/PC
            <%= image_tag "icon-down.png" %>
          </span>
        </p>
      </div>
    </header>
    <section>
      <div id="screens">
        <%= image_tag "content/portfolio/brink-shot-2.jpg" %>
        <%= image_tag "content/portfolio/brink-shot-1.jpg" %>
        <%= image_tag "content/portfolio/brink-shot-4.jpg" %>
        <%= image_tag "content/portfolio/brink-shot-3.jpg" %>
      </div>
      <div id="content">
        <h2>
          Coming Soon
        </h2>
        <p>
          &nbsp;
        </p>
        <p>
          &nbsp;
        </p>
      </div>
    </section>
  </article>
</div>
