<div class="wrap" id="portfolio-entry">
  <article class="clearfix">
    <header class="clean">
      <h1>
        Call of Duty: World at War
      </h1>
      <div class="callout">
      </div>
      <div class="section-header">
        <p>
          <span>
            Xbox 360/PS3/Nintendo DS
            <%= image_tag "icon-down.png" %>
          </span>
        </p>
      </div>
    </header>
    <section>
      <div id="screens">
        <%= image_tag "content/portfolio/cod-waw-ss.jpg" %>
        <%= image_tag "content/portfolio/cod-waw-1.jpg" %>
        <%= image_tag "content/portfolio/cod-waw-2.jpg" %>
        <%= image_tag "content/portfolio/cod-waw-3.jpg" %>
      </div>
      <div id="content">
        <h2>
          Overview
        </h2>
        <ul>
          <li>
            Multiplayer Match Stats
          </li>
          <li>
            Statistics for Body &amp; Map Heatmaps
          </li>
          <li>
            Sortable Leaderboards
          </li>
          <li>
            Community Aggregates vs. Player Statistics
          </li>
        </ul>
        <h3>
          Industry-leading FPS Stats
        </h3>
        <p>
          Agora developed the infrastructure to acquire and process massive amounts of data generated from multiplayer matches. Players can view their kills, assists, shots fired, kill streaks, match summaries, favorite weapons, in addition to dozens of other stats.
        </p>
        <p>
          Players can view extensive web-only stats and reconnaissance of their in-game actions. Implementing these necessary features on the web helps offload game development resources, and engage players while they are at work or just browsing the web. The friend features are great for identifying other players to link up with to play with or against.
        </p>
      </div>
    </section>
  </article>
</div>
