<div class="wrap" id="portfolio-entry">
  <article class="clearfix">
    <header class="clean">
      <h1>
        Mortal Kombat
      </h1>
      <div class="callout">
        <a href="http://themortalkombat.com">
          visit website
        </a>
      </div>
      <div class="section-header">
        <p>
          <span>
            Xbox 360/PS3
            <%= image_tag "icon-down.png" %>
          </span>
        </p>
      </div>
    </header>
    <section>
      <div id="screens">
        <%= image_tag "content/portfolio/mortal-kombat-screen-1.jpg" %>
        <%= image_tag "content/portfolio/mortal-kombat-screen-2.jpg" %>
        <%= image_tag "content/portfolio/mortal-kombat-screen-3.jpg" %>
        <%= image_tag "content/portfolio/mortal-kombat-screen-4.jpg" %>
      </div>
      <div id="content">
        <h2>
          Coming Soon
        </h2>
      </div>
    </section>
  </article>
</div>
