<div class="wrap" id="portfolio-entry">
  <article class="clearfix">
    <header class="clean">
      <h1>
        Section 8
      </h1>
      <div class="callout">
        <a href="http://s8stats.timegate.com/">
          visit website
        </a>
      </div>
      <div class="section-header">
        <p>
          <span>
            PC
            <%= image_tag "icon-down.png" %>
          </span>
        </p>
      </div>
    </header>
    <section>
      <div id="screens">
        <%= image_tag "content/portfolio/section8-2.jpg" %>
        <%= image_tag "content/portfolio/section8-1.jpg" %>
        <%= image_tag "content/portfolio/section8-3.jpg" %>
        <%= image_tag "content/portfolio/section8-4.jpg" %>
      </div>
      <div id="content">
        <h2>
          Overview
        </h2>
        <ul>
          <li>
            Sortable Leaderboards
          </li>
          <li>
            Community Aggregate Visualizations
          </li>
          <li>
            Clan Leaderboards
          </li>
        </ul>
        <h3>
          Awesome
        </h3>
        <p>
          For Section 8, Agora provided players with a superabundant number of leaderboards to track game statistics. Working with design firm id29, they created a remarkably clean front-end interface to manage the monumental amount of statistics into customizable and informative leaderboards.
        </p>
        <p>
          The Section 8 Statistics Portal was designed to seamlessly mimic the feel of the game&#39;s pre-existing website. Players can easily navigate through over 100 leaderboards from five basic categories, including Career Stats, Records, Gear Stats, Badges and Feats.
        </p>
        <p>
          In-game clans are managed completely through the website. Every clan is ranked on an inclusive Clan XP leaderboard, where players can view how clans ranks against each other on the clan level. Players can also view each clan&#39;s membership stats in greater detail with individual Clan leaderboards. These boards rank clan member against each other and include the status, level, XP, kills, deaths, destructions, combat, teamwork and time played of each member. The Portal also gives a high-level visualization of the most popular game statistics, including customizable pie charts to view what the most popular features are in the game at any given time. This includes the most popular maps, purchases and weapons for players, and most popular gear, gear pair and loadout for clans.
        </p>
      </div>
    </section>
  </article>
</div>
