.bright.agora-partners.text-center
  .row
    .columns.large-12
      %h2 A few of our Partners
      %ul.partners
        %li= image_tag 'namco.svg', alt: 'Namco', width: 105
        %li= image_tag 'nintendo.svg', alt: 'Nintendo', width: 220
        %li= image_tag 'wbgames.svg', alt: 'WB Games', width: 75
        %li= image_tag 'bethesda.svg', alt: 'Bethesda', width: 300
        %li= image_tag '2kgames.svg', alt: '2K Games', width: 100
        %li= image_tag 'activision.svg', alt: 'Activision', width: 260
        %li= image_tag 'sony.svg', alt: 'Sony', width: 230
        %li= image_tag 'microsoft.svg', alt: 'Microsoft', width: 280
        %li= image_tag 'madglory.svg', alt: 'MadGlory', width: 300
