---
stylesheet: "hydra"
---

%ul.hero{ data: { options: 'slide_number: false', orbit: true } }
  %li.centered-slide.active.invert{ style: "background-image: url('#{image_path('slides/bg1.jpg') }')" }
    .centered-slide__caption

%section.section.section--dark.hydra-platforms
  .row
    .columns.columns--middle.large-6.text-center
      = image_tag 'hydra/hydra-platforms.jpg', alt: 'Hydra Platforms; Apple, Playstation, XBox, ?, Unity, Android, Nintendo Wii, Steam and Windows'
    .columns.columns--middle.large-6
      %h2.graded-text Powering all your platforms, devices, and networks with one backend
      %p Hydra is a cloud based gaming backend that allows developers to quickly add online features to their games on almost any platform. It frees developers from the hassle of managing online servers so they can focus on making great games.
      %a.button.bright.button--arrows{ href: '#' }
        Get Started!

.orbit-hack

  %section.section.hydra-tech.text-center
    .row
      %h5.graded-text HYDRA TECHNOLOGY

      %ul.tabs.tabs--center{ data: { tab: true } }
        %li.tab-title.active
          %a{ href: '#overview-panel' }
            %h2 Overview
        %li.tab-title
          %a{ href: '#sdk-panel' }
            %h2 SDKs
        %li.tab-title
          %a{ href: '#features-panel' }
            %h2 Features

      .tabs-content.tabs-content--anim

        #overview-panel.content.active
          .columns.columns--middle.large-6
            = image_tag 'hydra/robot.jpg', alt: 'Robot'
          .columns.columns--middle.large-6.text-left
            %h3.graded-text Designed from the ground up to minimize integration time, support all game types and scale dynamically
            %ul
              %li Proven technology designed to handle billions of transactions
              %li Engineered to support everything from data storage to fully‐featured real-time multiplayer
              %li We provide SDKs for every major platform
              %li Features developed with server‐side configuration for post‐release updates and changes
              %li Integrates authorization and push‐notifications with all major 1st parties
              %li Support for global, multi-datacenter deployment of real-time services

        #sdk-panel.content
          .columns.columns--middle.large-6
            = image_tag 'hydra/robot2.jpg', alt: 'Robot'
          .columns.columns--middle.large-6.text-left
            %h3.graded-text Available today:
            %ul
              %li C# SDK (Unity[PC, Mac, Web Player, iOS, Android], raw C#)
              %li C++ SDK (Steam, Windows 8, raw C++)
              %li Objective‐C SDK (iOS)
              %li Java SDK (Android)
              %li REST API available
            %a.button.button--arrows.bright{ href: '#' } Download Hydra SDK
            %h3.graded-text In Development:
            %ul
              %li C++ SDK (support for Xbox One and PS4)

        #features-panel.content
          .columns.columns--middle.large-6
            = image_tag 'hydra/features.jpg', alt: 'Over 10x growth'
          .columns.columns--middle.large-6.text-left
            %h3.graded-text Lotsa Features
            %p Ut enim ad minim veniam, quis nostrud exercitation. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Idque Caesaris facere voluntate liceret: sese habere.
            %ul
              %li Twenty current features, with new ones being added every month
              %li Supports every Platform from PC to next-gen
              %li Pick and choose your feature set based on your preferences
              %li Feature customization available!
            %a.button.button--arrows.bright{ href: '#' } Check out the Full List

  .section.section--dark.hydra-testimonials
    %ul.testimonials{ data: { options: 'slide_number: false', orbit: true } }

      %li.testimonials__item
        .row
          .columns.large-12
            %article.testimonial
              %img.testimonial__profile-image{ alt: '', src: '//placehold.it/145' }
              %h5.testimonial__title.graded-text
                %strong Grant Wei
              %h5.testimonial__subtitle Director of Operations, Turbine
              %blockquote.testimonial__quote “Player data is the core of any online experience. Not only does it provide you with great data for online player pages and business intelligence, but it powers almost every other feature in Hydra.”
              = image_tag 'hydra/batman.png', alt: 'Batman', class: 'testimonial__feature-image'

      %li.testimonials__item
        .row
          .columns.large-12
            %article.testimonial
              %img.testimonial__profile-image{ alt: '', src: '//placehold.it/145' }
              %h5.testimonial__title.graded-text
                %strong Grant Wei
              %h5.testimonial__subtitle Director of Operations, Turbine
              %blockquote.testimonial__quote “Player data is the core of any online experience. Not only does it provide you with great data for online player pages and business intelligence, but it powers almost every other feature in Hydra.”
              = image_tag 'hydra/batman.png', alt: 'Batman', class: 'testimonial__feature-image'

.section.bright.hydra-partners.text-center
  .row
    .columns.large-12
      %h5 HYDRA IS PROUDLY USED BY

      %ul.partners
        %li
          %a{ href: '#', target: '_blank' }
            %img{ alt: 'Splash Damage', src: '//placehold.it/100&text=SPLASH', width: '104' }

        %li
          %ul

            %li
              %a{ href: '#', target: '_blank' }
                = image_tag 'activision.svg', alt: 'Activision', width: '165'

            %li
              %a{ href: '#', target: '_blank' }
                %img{ alt: 'THQ', src: '//placehold.it/165x40&text=THQ', width: '165' }

        %li
          %a{ href: '#', target: '_blank' }
            = image_tag 'wbgames.svg', alt: 'WB Games', width: '90'

        %li
          %a{ href: '#', target: '_blank' }
            %img{ alt: 'Monolith', src: '//placehold.it/130x100&text=MONOLITH', width: '130' }

        %li
          %ul

            %li
              %a{ href: '#', target: '_blank' }
                = image_tag 'sony.svg', alt: 'Sony', width: '210'

            %li
              %a{ href: '#', target: '_blank' }
                = image_tag 'microsoft.svg', alt: 'Microsoft', width: '240'

        %li
          %ul

            %li
              %a{ href: '#', target: '_blank' }
                %img{ alt: 'Konami', src: '//placehold.it/230x40&text=KONAMI', width: '230' }

            %li
              %a{ href: '#', target: '_blank' }
                %img{ alt: 'Timegate', src: '//placehold.it/240x30&text=TIMEGATE', width: '240' }

%footer.section.section--dark.hydra-footer
  .row
    .columns.columns--middle.large-6.text-left
      %p
        %a.graded-text.uc-link{ href: '#' } info@agoragames.com
        %br
        359 Broadway, Third Floor, Troy, NY 12180
    .columns.columns--middle.large-6.text-right
    %hr
    .columns.columns--middle.large-6.text-left
      %ul.logos-list
        %li
          = image_tag 'agoragames-new.svg', alt: 'Agora Games', width: '95'
        %li
          = image_tag 'mlg.svg', alt: 'Major League Gaming', width: '120'
    .columns.columns--middle.large-6.text-right
      %p{ style: 'margin-bottom: 0' }
        %span.nowrap
          © 2015
          %a.graded-text{ href: '#' } Agora Games
        %span.nowrap All Rights Reserved.
